<%= simple_form_for film do |f| %>
  <%= f.input :title, label: "Título" %>
  <%= f.input :description, label: "Descrição" %>
  <%= f.select :category, options_for_select(Film.categories.map {|key, value| [key.titleize, Film.categories.key(value)]}, @film.category) %>
  <%= f.input :year, label: "Ano" %>
  <%= f.input :festivals, label: "Festivais" %>
  <%= f.input :awards, label: "Prémios" %>
  <%= f.input :vimeo_id, label: "ID do Vimeo" %>
  <%= f.input :producer, label: "Produtora" %>
  <%= f.input :director, label: "Realização" %>
  <%= f.input :cover_photo, as: :file, label: "Foto de capa" %>
  <%= f.input :display_photos, label: "Frames que queiras mostrar", as: :file, input_html:{ multiple: true } %>
  <%= f.submit %>
<% end %>

<%= form_with model: film do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
<% end %>
