<div class="card-container">
  <% @films.each do |film| %>
    <%= link_to film_path(film) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url_for(film.cover_photo) if film.cover_photo.attached? %>');">
          <p class="card-text"><%= film.title %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="side-bar d-flex flex-column" style="position:absolute; top:50%;">
  <%= link_to  "Narrative", narrative_path  %>
  <%= link_to  "Docs", docs_path %>
  <%= link_to  "Dubbing", dubbing_path %>
</div>
