<div class="stimulus-container"
data-controller="commercial-modal">
  <div class="container">
    <div class="row gx-5 mb-4">
      <div class="col-12 col-lg-9">
        <div style="padding:56.25% 0 0 0;position:relative;margin-bottom:3vh;">
          <iframe src="https://player.vimeo.com/video/<%=@film.vimeo_id%>?h=ca3212cbf5&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div><script src="https://player.vimeo.com/api/player.js"></script>
        <%= link_to  "edit", edit_film_path(@film) if current_user%>
      </div>
      <div class="col-12 col-lg-3 d-flex flex-column justify-content-center">
        <h3><%= @film.title %></h2>
        <p class="p-col mb-4"><%= @film.description %></h6>
        <p class="p-col">Year: <%= @film.year %></p>
        <p class="p-col">Realização: <%= @film.director %></p>
        <p class="p-col">Producer: <%= @film.producer %></p>
        <% if @film.montage %><p class="p-col"><%= "Montagem: #{@film.montage}" %></p><% end %>
        <% if @film.festivals %><p class="p-col"><%= "Festivais: #{@film.festivals}" %></p><% end %>
        <% if @film.awards %><p class="p-col"><%= "Prémios: #{@film.awards}" %></p><% end %>
        <div class="awards-festivals" data-controller="tootip">
          <button type="button" class="btn btn-primary"
          data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="This top tooltip is themed via CSS variables.">
            Custom tooltip
          </button>
        </div>

      </div>
    </div>
    <div>
      <hr style="color:white;opacity:.7;">
    </div>
    <div class="row">
      <div class="photo-grid-container">
        <% if @film.display_photos.attached? %>
          <% @film.display_photos.each do |photo| %>
            <div class="photo"
            data-action="click->commercial-modal#largeImage">
              <%= image_tag photo, style:"width:100%;", class:"modal-photo show-photo"  %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <% if @film.display_photos.attached? %>
            <%= image_tag @film.display_photos.first, class: "modal-img", data: {commercial_modal_target: 'image'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
